@import '../../../node_modules/@silevis/reactgrid/styles.scss';

// $primary-color: #3579f8;
.b-table {
    width: 100%;
    overflow: auto;
    height: 400px;
}

.b-table .rg-header-cell {
    justify-content: center;
    background: rgba(134, 229, 255, 0.5) !important;
}

 .rg-checkbox-cell {
}

 .rg-text-cell  {
}

 .rg-text-celleditor {
}

.rg-cell-focus {
}

.rg-partial-area-selected-range {
}
