@import "@silevis/reactgrid/styles.css";

.rdg-header-row .rdg-cell {
  height: 42px;
  color: white;
  padding-block-start: unset !important;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1b618c;
}

.b-field {
  width: 100%;
}

.b-vertical-divider {
  height: 5vh;
  border-color: #ffb13d;
}

.b-horizontal-divider {
  margin: 5px 0 5px;
  border-color: #dededede;
}

.b-card {
  border-radius: 0px;
  height: 100%;
  .ant-card-body {
    padding: 12px 0px;
  }
  .ant-card-head-title {
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: navy;
    white-space: break-spaces;
  }
}

.b-row {
  padding: 0px 16px;
}

.main-card {
  min-height: calc(100vh - 111px);
  height: 100%;
  border-radius: 0px;

  .ant-card-body {
    padding: 0px;
    height: 100%;
  }
  .main-card-toolbar {
    box-sizing: border-box;
    padding: 4px;
    height: var(--height-toolbar);
  }
}
