// color
// $primary-color: rgb(64, 114, 224);
// $primary-sub-color: rgba(84, 133, 237, 0.872);

$primary-color: #1b618c;
$primary-sub-color: #3285a6eb;

$button-load-color: #2399fa;
$button-reload-color: #f5a442;
$height-header: 70px;

:root {
  --height-toolbar: 40px;
  --height-header: 70px;
}
