.b-nav {
  background-color: $primary-color;
  border-color: transparent;

  .ant-menu-item-selected::after,
  .ant-menu-item-active::after {
    border-bottom-color: #fff !important;
  }

  .ant-menu-item-icon svg {
    font-size: 20px;
  }

  .ant-menu-item {
    display: flex;
    gap: 5px;
    align-items: center;
    font-weight: 500;

    .ant-menu-title-content{
      font-size: 15px;
    }
    lord-icon {
      width: 26px;
      height: 26px;
    }
  }
}

.b__nav-drawer {
  background-color: $primary-sub-color !important;

  .ant-drawer-body {
    overflow: unset !important;
  }
}
