.b__sub {
  margin-top: 15px;
  height: 100%;

  .b__nav-sub {
    // background-color: #3f72e0ad;
    background-color: #2e7895c9;
    max-height: 230px;
    overflow-y: auto;
    border-inline-color: #fff;
    height: 100%;
    border-radius: 4px;
    font-weight: 500;

    &::-webkit-scrollbar {
      width: 5px;
      background-color: #7796de;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #f5f5f5;
      border-radius: 4px;
    }

    svg {
      width: 18px;
      height: 18px;
    }

    .ant-menu-item-selected {
      color: $primary-color;
    }
  }

  .b__subnav-item {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;

    .ant-col {
      color: #fff;
      border-color: rgb(232 211 211);
      cursor: pointer;
      padding: 12px 5px !important;
      display: flex !important;
      align-items: center;
      justify-content: flex-start;
      gap: 10px;
      background-color: rgba(146, 194, 188, 0.096);
      border-radius: 4px;

      animation: slide_left 0.15s linear forwards;
      animation-delay: calc(0.1s * var(--i));
      opacity: 0;
      transition: background 0.2s ease-in-out;
      font-weight: 500;

      lord-icon {
        width: 28px;
        height: 28px;
      }

      &:hover,
      &.active {
        background-color: #2d738f6d;
      }
    }
  }

  > .ant-col {
    &:nth-child(2) {
      height: 97%;
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 5px;
        background-color: #7796de;
        border-radius: 4px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #f5f5f5;
        border-radius: 4px;
      }
    }
  }
}

@keyframes slide_left {
  0% {
    transform: translateX(-50px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
